<div class="d-flex flex-column app-bar">
  <div class="row topbar">
    <mat-toolbar color="primary">
      <mat-toolbar-row class="head-container">
        <span>Your Feeds</span>
        <section>
          <mat-slide-toggle style="font-size:1rem" (change)="layoutChange($event)" class="example-margin"
            [labelPosition]="'before'" [color]="'primary'" [checked]="false" [disabled]="false">
            <small>Layout: </small>
            {{layoutName}}
          </mat-slide-toggle>
        </section>

      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="d-flex flex-row flex-nowrap justify-content-center main-content">
    <div class="cards">
      <router-outlet></router-outlet>
      <!-- <app-card-stream></app-card-stream> -->
    </div>
  </div>

</div>