@import "variables";
.main-content {
    height: 100%;
    padding-top: 3rem;
    @media( min-width: @screen-l) {
        .cards {
            width: 90%;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
    @media( min-width: @screen-xl) {
        .cards {
            width: 80%;
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
    @media( min-width: @screen-md) {
        .cards {
            width: 80%;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
    @media( min-width:@screen-sm) {
        .cards {
            width: 100%;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}

.app-bar{
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0
}

.topbar {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.head-container {
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}